<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Monzio Smart Churrasco</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Monzio Smart Churrasco</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>


	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Para aproveitar ao máximo todas as funcionalidades do aplicativo, ative o Bluetooth do seu dispositivo. Não se preocupe, nós respeitamos sua privacidade e não coletamos nenhum dado. O Bluetooth é essencial para estabelecer a conexão com o equipamento e garantir a melhor experiência de uso.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Para aproveitar ao máximo todas as funcionalidades do aplicativo, ative o Bluetooth do seu dispositivo. Não se preocupe, nós respeitamos sua privacidade e não coletamos nenhum dado. O Bluetooth é essencial para estabelecer a conexão com o equipamento e garantir a melhor experiência de uso.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Para garantir uma conexão eficiente com o equipamento, ative a localização apenas durante o uso do aplicativo. Não se preocupe, não coletamos nenhum dado pessoal. A localização é necessária apenas no momento da conexão.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Para garantir uma conexão eficiente com o equipamento, ative a localização apenas durante o uso do aplicativo. Não se preocupe, não coletamos nenhum dado pessoal. A localização é necessária apenas no momento da conexão.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Para garantir uma conexão eficiente com o equipamento, ative a localização apenas durante o uso do aplicativo. Não se preocupe, não coletamos nenhum dado pessoal. A localização é necessária apenas no momento da conexão.</string>


</dict>
</plist>
